/* Стили для меню */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(231, 231, 231); /* Серый цвет меню */
    color: #333;
    padding: 10px;
    z-index: 1000;
    border-bottom: 1px solid #999; /* Серая линия под меню */
}

#menu a {
    color: #333; /* Цвет ссылок */
    text-decoration: none;
    margin-right: 20px;
}

#menu a:hover {
    color: red; /* Цвет при наведении */
}

.current-page {
    color: red; /* Цвет текущей страницы */
}

/* Стили для содержимого страниц */
.content {
    padding: 20px;
    margin-top: 50px; /* Отступ для меню */
    background-color: rgb(231, 231, 231);
}

main {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

footer {
    background-color: rgb(190, 182, 182); /* Серый фон footer */
    color: #333; /* Цвет текста */
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #999; /* Серая линия над footer */
}

header {
    background-color: rgb(190, 182, 182); /* Серый цвет header */
    color: #333; /* Цвет текста */
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}