#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    background-color: rgb(231, 231, 231);
    color: #333;
    padding: 10px;
    z-index: 1000;
    border-bottom: 3px solid #999;
    overflow-x: hidden;
}

#menu a {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
}

#menu a:hover {
    color: red;
}

.current-page {
    color: red;
}


main {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

footer {
    background-color: rgb(190, 182, 182);
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #999;
}

header {
    background-color: rgb(190, 182, 182);
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top:65px;
}
h2 {
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5) ;
}